.recipe {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;

  text-align: center;
  
  background: #fff;
  box-sizing: border-box;
}

.recipe .page-title {
  margin: 8px;
}

.recipe li {
  margin-right: 10px;

  font-size: 20px;

  display: inline;
  
  list-style-type: none;
  color: #777;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {
  line-height: 1.5em;
  
  text-align: left;
}

.recipe.dark {
  color: #e4e4e4;
  background: #555;
}

.recipe.dark h2 {
  color: #e4e4e4;
}

.recipe.dark li {
  color: white;
}